page-home {

}

// ionic-content{
//     vertical-align: middle;
// }

form{
    margin-top:40%;
}
#login{
    background-color:green;
    width:30%;
    display: flex !important;
    margin-top:10%;
    margin-left : 35%;
    // margin-right: 20%;

}

#gmail{
    margin-top:1.5%;
    background-color: maroon;
}

