<ion-header>
  <ion-navbar color="danger">
    <ion-title>
     Patient
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="vertical-align-content">
 
  <form text-center>
    <ion-item text-center>
     <ion-input type="text" placeholder="email@address.com"></ion-input>
    </ion-item>

    <ion-item text-center>
      <ion-input type="password" placeholder="password"></ion-input>
     </ion-item>


    <div class="buttons">
      <button ion-button   id="login">LOGIN</button>
      <button ion-button  id="gmail" (click)="login()">Sign In With G+</button>

    </div>
    
    </form>
    <!-- <button ion-button full (click)="logout()">Logout</button> -->
 
</ion-content>